.express {
   margin-top: 1.5em;
   max-height: 150%;
}

.node {
   margin-top: .5em;
}

.bulma {
   max-height: 70%;
}

body{ 
   background-color: #3385c6;
   color: white;
}

.jumbotron {
   background-color: #49657b;
}

body {
   min-width: 1250px;
   min-height: 750px;
}
